<%
    var classes = [
    "light border-grey",
    "info",
    "primary",
    "warning",
    "success",
    "danger",
    "dark",
];
var texts = {
    'en' :  [
        "Waiting",
        "Pending",
        "Accepted",
        "Refused",
        "Success",
        "Failure",
        "Canceled"
    ],
    'fr' :  [
        "En attente",
        "En cours",
        "Accepté",
        "Refusé",
        "Succès",
        "Échec",
        "Annulée"
    ],
    'ar' :  [
        "انتظار",
        "قيد الانتظار",
        "قبول",
        "رفض",
        "نجاح",
        "فشل",
        "ملغاة"
    ]
}
function pad(n,z) {
    z = z || '0';
    n = n + '';
    return n.length >= 2 ? n : new Array(2 - n.length + 1).join(z) + n;
}
%>

<% if (locals.date) { %><div class="hr-sect col-md-10 col mx-auto"><h3><%= date %><h3></div><% } %>
<div class="col-lg-7 p-3 m-auto text-center d-flex justify-content-center row">
    <% if(userDeliveries.length) { %>
	<% var l = userDeliveries.length; %>
	<% var i = 0; %>
	<% if (!locals.date && !locals.noTitle) { %><h3 class="mb-3"><span class="todays_deliveries_text"></span></h3><% } %>
    <% userDeliveries.forEach((delivery, idx) => { %>
		<% i = idx; %>
        <div class="jumbotron border pt-5">
            <div class="text-<% if (lang=='ar') { %>right<% } else { %>left<% } %> container">
                <div class="row">
                    <div class="col-sm">
                        <p class="delivery-info-text"><span class="thing_text"></span><b> <%= delivery.thing %></b></p>
                    </div>
                    <div class="col-sm">
                        <p class="delivery-info-text"><span class="distance_text"></span><b> <%= delivery.distance %></b> <% if (lang == 'ar') { %>كلم<% } else { %>km<% } %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p class="delivery-info-text"><span class="price_text"></span><b> <%= delivery.price %></b> <% if (lang == 'ar') { %>دج<% } else { %>DZD<% } %></p>
                    </div>
                    <div class="col-sm">
                        <p class="delivery-info-text"><span class="status_text"></span> <span class="ml-2 badge badge-<%= classes[delivery.status] %>"><%= texts[lang][delivery.status] %></span></p>
                    </div>
                </div>
                <div class="row">
                    <% if (delivery.fromPlace) {%>
                    <div class="col-sm">
                        <p class="delivery-info-text"><span class="from_text"></span><b> <%= delivery.fromPlace %></b></p>
                    </div>
                    <% } %>
                    <div class="col-sm">
                        <% var date = new Date(delivery.date);%>
                        <p class="delivery-info-text"><span class="date_submitted_text"></span><b> <%= `${pad(date.getDate())}-${pad(date.getMonth()+1)}-${date.getFullYear()}` %> <span class="at_text"></span> <%= `${pad(date.getHours())}:${pad(date.getMinutes())}` %></b></p>
                    </div>
                </div>
            </div>
            <a class="btn btn-c col-md-6 col" href="/delivery/<%= delivery.id %>"><span class="details_text"></span></a>
        </div>
		
    <% }); %>
    <% } else { %>
    <h4><span class="no_dlvrs_today_text"></span></h4>
    <% }%>
</div>
<% if (locals.index == locals.length - 1 && i == l - 1 ) { %>
	<hr class="col-md-9 col mx-auto mt-0">
	<button class="btn btn-secondary col-4 back" onclick="window.history.back()"></button>
<% } %>