<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-5 px-5 py-5 m-auto text-center">
        <h4 id="err-msg" class="my-4"></h4>
        <button id="btn" class="btn btn-success col-5" onclick="window.history.back()"></button>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<script src="/js/404.js"></script>
</html>