<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="m-auto py-2 px-4 text-center">
        <div class="jumbotron text-center">
            <h2 class="font-weight-bold mb-5 desc_0_text"></h2>
            <div class="text-<% if (lang == 'ar') { %>right<% } else { %>left<% } %> m-auto col-lg-7">
                <h6 class="padded desc_1_text"></h6>
                <h6 class="padded desc_2_text"></h6>
            </div>
        </div>
        <div class="jumbotron">
            <h3 class="card-title mb-4 font-weight-bold conatct_text"></h3>
            <div class="container text-center">
                <ul class="navbar-nav">
                    <div class="row m-auto mb-3">
                        <li class="nav-item mx-4"><a class="nav-link" href="https://www.facebook.com/WesselliService" target="_blank"><i class="fa fa-2x fa-facebook"></i></a></li>
                        <li class="nav-item mx-4"><a class="nav-link" href="https://www.instagram.com/wesselli_service" target="_blank"><i class="fa fa-2x fa-instagram"></i></a></li>
                    </div>
                </ul>
                <h5 class="about-text mb-3"><a href="mailto:contact.wesselli@gmail.com">contact.wesselli@gmail.com</a></h5>
                <h5 class="about-text"><a href="tel:0795238279">0795238279</a></h5>
            </div>
        </div>
        <div class="jumbotron text-center d-none" id="last-container">
            <h3 class="card-title font-weight-bold mb-4 attribution_text"></h3>
            <div class="container" id="last-container-text">
                <h6 class="my-0 about-text"><span class="ldng_img_by_text"></span> <a href="https://loading.io/" target="_blank">loading.io</a></h6>
                <h6 class="about-text"><span class="fvcn_by_text"></span> <a href="https://realfavicongenerator.net/" target="_blank">realfavicongenerator.net</a></h6>
            </div>
        </div>
        <a href="/terms" class="terms_text"></a> | <a href="/privacy" class="privacy_text"></a>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<script src="/lang/js-pages/about/<%= lang %>.js"></script>
<script src="/js/about.js"></script>
</html>