<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-5 px-5 m-auto text-center pt-2">
        <% if(we_are_working_now) { %>
        <h5 class="text-success wrkn"></h5>
        <button class="btn btn-danger btn-sm not_wrkn" data-toggle="modal" data-target="#modal"></button>
        <% } else { %>
        <h5 class="text-danger stop_wrkn"></h5>
        <button class="btn btn-success btn-sm start_wrkn" data-toggle="modal" data-target="#modal"></button>
        <% } %>
		<hr class="my-4">
		<div class="row justify-content-center">
			<input type="text" class="form-control form-control-lg text-center mx-2 col-4" maxlength="5" id="from" name="from" placeholder="09:00" value="<%= schedule[0] %>" required>
			<input type="text" class="form-control form-control-lg text-center mx-2 col-4" maxlength="5" id="to" name="to" placeholder="18:00" value="<%= schedule[1] %>" required>
		</div>
		<button class="btn btn-success col-4 my-4 save" id="save" type="submit"></button>
    </div>
    <div class="modal" id="modal">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <% if(we_are_working_now) { %>
                        <h5 class="modal-title sure_stop"></h5>
                        <% } else { %>
                        <h5 class="modal-title sure_start"></h5>
                        <% } %>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <form action="/schedule/working" method="post">
                            <input type = "hidden" name = "nothing" value = "something" />
                            <% if(we_are_working_now) { %>
                            <button type="submit" class="btn btn-danger mx-2 stop"></button>
                            <% } else { %>
                            <button type="submit" class="btn btn-success mx-2 start"></button>
                            <% } %>
                        </form>
                        <button type="button" class="btn btn-secondary mx-2 cancel" data-dismiss="modal"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<script src="/js/admin_schedule.js"></script>
</html>