<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
	<%- include ('../partials/navbar') %>
	<div class="col-md-8 col-lg-5 px-5 m-auto text-center pt-2">
		<form action="/admin/new-key" method="post">
			<p id="err-msg" class="text-danger"></p>
			<div class="form-group">
				<label for="secret-field" class="sec_key_text"></label>
				<input type="text" class="form-control" id="secret-field" name="secret" placeholder="Secret Key"
					required>
				<div class="invalid-feedback" id="secret-feed"></div>
			</div>
			<div class="form-group">
				<label for="phone-field" class="phone_text"></label>
				<input type="tel" onkeypress="return onlyNumberKey(event)" maxlength="10" class="form-control"
					id="phone-field" name="phone" required>
				<div class="invalid-feedback" id="phone-feed"></div>
			</div>
			<div class="form-group">
				<label for="type-field" class="user_type_text"></label>
				<select name="type" class="form-control" id="type-field">
					<option value="1" class="shop_text" selected></option>
					<option value="2" class="driver_text"></option>
				</select>
			</div>
			<div class="form-group" id="percentage-div">
				<label for="p-field" class="percentage_text"></label>
				<input type="tel" onkeypress="return onlyNumberKey(event)" maxlength="2" class="form-control" id="perc" name="percentage">
				<div class="invalid-feedback" id="p-feed"></div>
			</div>
			<br>
			<div id="buttons">
				<button type="submit" class="btn btn-info col-md-5 save_text"></button>
			</div>
		</form>
	</div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
</html>