<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
    <%
        function pad(n,z) {
            z = z || '0';
            n = n + '';
            return n.length >= 2 ? n : new Array(2 - n.length + 1).join(z) + n;
        }
    %>
    <% if (locals.estimated_finish_time) { %>
    <script>var finish_time = <%= estimated_finish_time.getTime() %>;</script>
    <% } else { %>
    <script>var finish_time = 0;</script>
    <% } %>
    <script>var status = <%= status %>;</script>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="col-lg-7 col-md-10 px-3 m-auto text-center">
        <div class="jumbotron border" id="delivery-info">
            <h3 class="delivery_text"></h3>
            <hr class="my-4 mx-md-3 mx-0-xs">
            <br>
            <% if (lang == 'ar') { %>
            <div class="text-right mr-md-5 mr-2-xs">
            <% } else { %>
            <div class="text-left ml-md-5 ml-2-xs">
            <% } %>


			<% if(!d_type) {%>
			<p class="delivery-info-text"><b class="type_text"></b> <span class="nrml_dlvr_text"></span></p>
			<% } else { %>
			<p class="delivery-info-text"><b class="type_text"></b> <span class="buy_frm_text"></span> <%= fromPlace %></p>
			<% } %>

			<p class="delivery-info-text"><b class="user_text"></b> <%= name %></p>
			<% if (d_type && thingsPrice) { %>
			<p class="delivery-info-text"><b class="thing_text"></b> <%= thing %> (<%= thingsPrice %> <span class="dzd_text"></span>)</p>
			<% } else { %>
			<p class="delivery-info-text"><b class="thing_text"></b> <%= thing %></p>
			<% } %>
			<p class="delivery-info-text"><b class="price_text"></b> <%= price %> <span class="dzd_text"></span></p>

			<% if(d_type && thingsPrice) {%>
			<p class="delivery-info-text"><b class="total_price_text"></b> <%= thingsPrice + price %> <span class="dzd_text"></span></p>
			<% } %>

			<p class="delivery-info-text"><b class="distance_text"></b> <%= distance %> <span class="km_text"></span></p>
			<p class="delivery-info-text"><b class="date_submitted_text"></b>
				<%= `${pad(date.getDate())}-${pad(date.getMonth()+1)}-${date.getFullYear()}` %> <span class="at_time_text"></span> <%= `${pad(date.getHours())}:${pad(date.getMinutes())}` %>
			</p>

			<% if (driver) { %>
			<p class="delivery-info-text" id="driver-info"><b class="driver_text"></b> (<% if (driverStatus == 1) { %><span class="online_text"></span><% } else { %><span class="offline_text"></span><% } %>) <%= driver.name %> - <%= driver.phone %></p>
			<% }%>

			<% if (estimated_finish_time) { %>
			<% if (estimated_finish_time.getTime() - Date.now() > 0) { %>
			<% var estimatedFinishDate = new Date(estimated_finish_time) %>
			<p class="delivery-info-text"><b class="estimated_finish_time_text"></b> <span id="finish-time"><%= pad(estimatedFinishDate.getHours()) %>:<%= pad(estimatedFinishDate.getMinutes()) %></p>
			<% } %>
			<% } %>

			<% if (finish_time) { %>
			<% var finishDate = new Date(finish_time) %>
			<p class="delivery-info-text"><b class="finish_time_text"></b> <span id="finish-time"><%= pad(finishDate.getHours()) %>:<%= pad(finishDate.getMinutes()) %></p>
			<% } %>

            </div>
			<div id="delivery-status">
				<button type="button" id="delivery-status-info-btn" class="" style="display: none;"></button>
				<p id="delivery-status-info-text" class="mt-2" style="display: none;"></p>	
			</div>

			<% if (status < 2 || status == 3 && locals.owner) { %>
			<button type="button" class="btn btn-danger col-md-3 col-6 cncl_delivery_text" data-toggle="modal" data-target="#modal"></button>
			<div class="modal" id="modal">
				<div class="vertical-alignment-helper">
					<div class="modal-dialog vertical-align-center" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title cncl_cnfrm_text" id="modal-title"></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger mx-1 sure_text" id="cancel-btn" type="submit"></button>
								<button type="button" class="btn btn-secondary mx-1 no_text" data-dismiss="modal"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% } %>

        </div>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<%- include ('../partials/socket') %>

<script src="/lang/js-pages/delivery/<%= lang %>.js"></script>
<script src="/js/delivery.js"></script>
</html>