<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="m-3 text-center">
        <% if (lang == 'en') { %>
        <h1 class="my-4">Drivers</h1>
        <h5 class="col-md-7 m-auto">We're glad you decided to be a driver for DELIVERY ! In order to join us, please follow these steps:</h5>
        <% } else if (lang == 'fr') { %>
		<h1 class="my-4">Livreurs</h1>
		<h5 class="col-md-7 m-auto">Nous sommes heureux que vous ayez décidé d'être un livreur pour DELIVERY ! Pour nous rejoindre, veuillez suivre ces étapes :</h5>
		<% } else  { %>
		<h1 class="my-4">السائقون</h1>
		<h4 class="col-md-7 m-auto">يسعدنا أنك قررت أن تكون جزءًا من DELIVERY ! للإنضمام إلينا ، يرجى اتباع هذه الخطوات:</h4>
        <% } %>
		<%- include ('../partials/desc') %>
		<% var reg = { en: "Register", fr: "S'inscrire", ar: "تسجيل" } %>	
		<a class="btn btn-info col-8 col-md-3 mx-auto" href="/drivers/register"><%= reg[lang] %></a>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>