<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="m-3 text-center">
        <% if (lang == 'en') { %>
        <h2 class="my-5">Become a driver for DELIVERY !</h2>
        <% } else if (lang == 'fr') { %>
		<h2 class="my-5">Devenez livreur pour DELIVERY !</h2>
		<% } else  { %>
		<h2 class="my-5">كن سائقًا لـ DELIVERY !</h2>
        <% } %>
		<%- include ('../partials/desc') %>
		<div class="d-none">
		<% if (lang == 'en') { %>
		<h5 class="my-4">For a better experience, you can download our <a href="/app/driver.apk">Driver App</a></h5>
		<% } else if (lang == 'fr') { %>
		<h5 class="my-4">Pour une meilleure expérience, vous pouvez télécharger <a href="/app/driver.apk">notre application</a></h5>
		<% } else  { %>
		<h4 class="my-4">من أجل تجربة أفضل، يمكنك تنزيل <a href="/app/driver.apk">التطبيق الخاص بنا</a></h4>
		<% } %>
		</div>
		<% var reg = { en: "Register", fr: "S'inscrire", ar: "تسجيل" } %>	
		<a class="btn btn-info col-8 col-md-3 mx-auto" href="/drivers/register"><%= reg[lang] %></a>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<script>
	if (typeof (Android) != 'undefined') $('.d-none').remove();
	else $('.d-none').removeClass('d-none');
</script>
</html>