<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="m-3 text-center">
        <% if (lang == 'en') { %>
        <h2 class="my-5">Become a driver for DELIVERY !</h2>
        <% } else if (lang == 'fr') { %>
		<h2 class="my-4">Devenez livreur pour DELIVERY !</h2>
		<% } else  { %>
		<h2 class="my-4">كن سائقًا لـ DELIVERY !</h2>
        <% } %>
		<%- include ('../partials/desc') %>
		<% var reg = { en: "Register", fr: "S'inscrire", ar: "تسجيل" } %>	
		<a class="btn btn-info col-8 col-md-3 mx-auto" href="/drivers/register"><%= reg[lang] %></a>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>