<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-5 px-5 m-auto text-center pt-2">
        <div class="alert alert-dismissible alert-success rounded d-none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span class="pwd_chngd_txt"></span>
        </div>
        <form action="/new_password" method="post">
            <div class="form-group">
                <label for="password-field" class="opwd_text"></label>
                <div class="input-group input-group-seamless">
                    <input type="password" data-toggle="password" class="form-control" id="password-field1" name="old_password" required>
                    <span class="input-group-append">
                        <span class="input-group-text" id="otoggle">
                            <i id="toggle-icon1" class="fa fa-eye-slash"></i>
                        </span>
                    </span>
                </div>
                <div class="invalid-feedback" id="o-password-feed"></div>
            </div>
            <div class="form-group">
                <label for="password-field" class="npwd_text"></label>
                <div class="input-group input-group-seamless">
                    <input type="password" data-toggle="password" class="form-control" id="password-field2" name="new_password" required>
                    <span class="input-group-append">
                        <span class="input-group-text" id="ntoggle">
                            <i id="toggle-icon2" class="fa fa-eye-slash"></i>
                        </span>
                    </span>
                </div>
                <div class="invalid-feedback" id="n-password-feed"></div>
            </div>
            <button type="submit" class="btn btn-success col my-2 save_text"></button>
        </form>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<script src="/js/edit_password.js"></script>

</html>