<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ("../partials/navbar") %>
    <div class="px-5 py-5 m-auto text-center">
        <h3><%= error %> </h3>
        <p><%= body %></p>
		<% var l = { en: "Go back", fr: "Revenir", ar: "عودة" } %>
        <button class="btn btn-info col-md-3 col-6" onclick="window.history.back()"><%= l[lang] %></button>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
</html>