<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-4 px-5 m-auto text-center pt-5">
        <% if (!working) { %>
        <h4 class="out_of_srvc_text"></h4>
        <% } else if(!work_hours) { %>
        <h4><span class="not_wrkn_now_text"></span> <%= schedule[0][0]%> <span class="to_text"></span> <%= schedule[0][1]%></h4>
        <% } else { %>
        <div class="dropdown pb-3">
            <button class="btn btn-success btn-block dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="new_delivery_text"></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/partnerdeliver"><span class="normal_delivery_text"></span></a>
                <a class="dropdown-item" href="/longdistance"><span class="long_d_d_text"></span></a>
            </div>
        </div>
        <% } %>
        <br><hr class="py-3">
        <p class="mt-3 mb-0 text-left"><span class="ttl_delvrs_text"></span> <b><%= total_deliveries %></b></p>
        <p class="mb-0 text-left"><span class="ttl_spnt_text"></span> <b><%= total_spent %></b> DZD</p>
        <p class="my-0 text-left"><span class="dlvrs_to_clients_text"></span> <b><%= client_deliveries_amount %></b> DZD</p>
        <p class="my-0 text-left"><span class="amount_to_pay_text"></span> <b><%= amount_to_pay_us %></b> DZD (<%= percentage %>%)</p>
    </div>
    <%- include ('../partials/user_deliveries') %>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>