<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
	<% var dzd = lang == 'ar' ? 'دج' : 'DZD' %>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-4 px-5 m-auto text-center pt-5">
        <p class="my-1"><span class="dlvrs_to_clients_text"></span> <b><%= client_deliveries %></b> (<b><%= client_deliveries_amount %></b> <%= dzd %>)</p>
        <p class="my-1"><span class="amount_to_pay_text"></span> <b><%= amount_to_pay_us %></b> <%= dzd %> (<%= percentage %>%)</p>
		<a type="button" class="btn btn-block btn-info mx-2 my-4 your_items" href="/partner/items"></a>
		<a type="button" class="btn btn-block btn-info mx-2 my-4 ur_details" href="/partner/details"></a>
		<a type="button" class="btn btn-block btn-info mx-2 my-4 dlvs" href="/deliveries"></a>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>