<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-4 px-5 m-auto text-center pt-5">
        <p class="my-0 text-left"><span class="dlvrs_to_clients_text"></span> <b><%= client_deliveries_amount %></b> DZD</p>
        <p class="my-0 text-left"><span class="amount_to_pay_text"></span> <b><%= amount_to_pay_us %></b> DZD (<%= percentage %>%)</p>
		<a type="button" class="btn btn-block btn-success mx-2 my-4 your_items" href="/partner/items"></a>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>