<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/navbar') %> 
    <div class="col-md-8 col-lg-6 px-5 m-auto text-center pt-5">
        <% if (!working) { %>
        <h4 class="out_of_srvc_text"></h4>
        <% } else if(!work_hours) { %>
        <h4><span class="not_wrkn_now_text"></span> <%= schedule[0][0]%> <span class="to_text"></span> <%= schedule[0][1]%></h4>
        <% } else { %>
        <div class="dropdown pb-3 mx-auto col-md-8">
            <button class="btn btn-success btn-block dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="new_delivery_text"></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/buy"><span class="buy_sth_from_shop_text"></span></a>
                <a class="dropdown-item" href="/deliver"><span class="drliver_from_place_text"></span></a>
            </div>
        </div>
        <% } %>
        <hr class="pt-3">
        <p class="mb-1"><span class="ttl_delvrs_text mb-0"></span> <b><%= total_deliveries %></b></p>
		<% if (total_deliveries) { %>
			<% if (userDeliveries && userDeliveries.length) { %>
			<div class="my-2">
				<% locals.deliveries = userDeliveries; %><%- include ('../partials/delivery_status') %>
			</div>
			<% } %>
		<% } %>
		<p><span class="ttl_spnt_text"></span> <b><%= total_spent %></b> <% if (lang == 'ar') { %>دج<% } else { %>DZD<% } %></p>
    </div>
    <%- include ('../partials/user_deliveries') %> 
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>