<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>
<body>
    <%- include ('../partials/navbar') %> 
    <div class="col-md-8 col-lg-6 text-center mx-auto mt-5">
        <% if (!working) { %>
        <h4 class="out_of_srvc_text"></h4>
        <% } else if(!work_hours) { %>
        <h4><span class="not_wrkn_now_text"></span> <%= schedule[0]%> <span class="to_text"></span> <%= schedule[1]%></h4>
        <% } else { %>
        <div class="dropdown mb-4 mx-auto col-md-8 row">
            <button class="btn btn-info mx-1 col dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="new_delivery_text"></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item buy_sth_from_shop_text" href="/buy"></a>
                <a class="dropdown-item drliver_from_place_text" href="/deliver"></a>
            </div>
			<a class="btn btn-light border-dark mx-1 dlv" href="/deliveries"></a>
        </div>
        <% } %>
        <hr class="pt-3">
        <p class="mb-1"><span class="ttl_delvrs_text mb-0"></span> <b><%= total_deliveries %></b></p>
		<% if (total_deliveries) { %>
			<% if (userDeliveries && userDeliveries.length) { %>
			<div class="my-2">
				<% locals.deliveries = userDeliveries; %><%- include ('../partials/delivery_status') %>
			</div>
			<% } %>
		<% } %>
		<p><span class="ttl_spnt_text"></span> <b><%= total_spent %></b> <% if (lang == 'ar') { %>دج<% } else { %>DZD<% } %></p>
    </div>
    <%- include ('../partials/user_deliveries') %> 
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>