<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
    <%- include ('../partials/leaflet') %>
    <%- include ('../partials/lrm') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-5 m-auto text-center pt-2" id="delivery-from">
        <img src="/img/loading.gif" id="loading-img">
        <div id="delivery" class="d-none">
            <div class="form-group">
                <label class="dlvr_type_text"></label>
                <select class="custom-select" id="delivery-state">
                    <option value="0" selected="" class="shop_to_place_text"></option>
                    <option value="1" class="place_to_shop_text"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="delivery-thing" class="thing_text"></label>
                <input type="text" class="form-control" id="thing" onkeyup="trackInput()">
            </div>
            <div class="form-group">
                <label for="phone-field" class="cstmr_phone_number"></label>
                <input type="tel" onkeypress="return onlyNumberKey(event)" maxlength="10" class="form-control" id="phone-field" name="phone" onkeyup="trackInput()">
            </div>
            <div class="form-group">
                <label class="weight_text"></label>
                <select class="custom-select" id="delivery-weight">
                    <option value="0" class="less_than_5_text" selected></option>
                    <option value="1" class="not_less_than_5_text"></option>
                </select>
            </div>
            <br>
            <button type="button" id="cancel-button" class="btn btn-danger col-4 cancel_text"></button>
            <button type="button" id="next-button" class="btn btn-secondary col-4 next_text disabled"></button>
        </div>
    </div>

<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/socket') %>
<%- include ('../partials/scripts') %>
<script>
    var pos = [<%= pos[0] %>,<%= pos[1] %>];
    var name = "<%= name %>";
    var at = "<%= at %>";
    var gh = "<%= gh %>";
</script>
<script src="/lang/js-pages/partnerdeliver/<%= lang %>.js"></script>
<script src="/js/disable_refresh.js"></script>
<script src="/js/partner_deliver.js"></script>

</html>