<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="col-md-8 col-lg-5 px-5 m-auto text-center py-2">
        <h3 class="shop_reg"></h3>
        <form action="/shops/register" method="post">
            <p id="err-msg" class="text-danger"></p>
            <div class="form-group">
                <label for="name-field" class="name_text"></label>
                <input type="text" class="form-control" id="name-field" name="name" required>
                <div class="invalid-feedback" id="name-feed"></div>
            </div>
            <div class="form-group">
                <label for="phone-field" class="phone_text"></label>
                <input type="tel" onkeypress="return onlyNumberKey(event)" maxlength="10" class="form-control" id="phone-field" name="phone" required>
                <div class="invalid-feedback" id="phone-feed"></div>
            </div>
            <div class="form-group">
                <label for="password-field" class="password_text"></label>
                <div class="input-group input-group-seamless">
                    <input type="password" class="form-control" id="password-field" name="password" required>
                    <span class="input-group-append">
                        <span class="input-group-text" id="toggle">
                            <i id="toggle-icon" class="fa fa-eye-slash"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="secret-field" class="sec_key_text"></label>
                <input type="text" class="form-control" id="secret-field" name="secret" required>
                <div class="invalid-feedback" id="secret-feed"></div>
            </div>
            <br>
            <div id="buttons">
                <button type="submit" class="btn btn-info col-md-5 register_text"></button>
            </div>
        </form>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>
<script src="/js/errors.js"></script>
<script src="/js/toggle_password.js"></script>

</html>