<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="px-5 my-2 m-auto text-center">
        <p id="terms">
            <%- include ('../partials/terms') %>
        </p>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>