<!DOCTYPE html>
<%- include ('../partials/html') %>
<head>
	<%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/navbar') %>
    <div class="card text-center mx-4">
        <div class="card-header">
            <h3 class="font-weight-bold my-1"><span class="terms_of_service_text"></span></h3>
        </div>
        <div class="card-body">
            <p class="card-text" id="terms">
                <%- include ('../partials/terms') %>
            </p>
        </div>
        <div class="card-footer text-muted">
            <form action="/agree_on_terms" method="post">
                <button class="btn col-6 btn-success"><span class="agree_text"></span></button>
            </form>
        </div>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>