<%- include ('../partials/top') %>
    <%
    var classes = [
        "warning",
        "info",
        "primary",
        "danger",
        "success",
        "danger",
        "warning",
        "danger"
    ];
    var texts = {
        'en' :  [
            "Submitted",
            "Pending",
            "Accepted",
            "Refused",
            "Success",
            "Failure",
            "Waiting",
            "Out"
        ],
        'fr' :  [
            "Soumis",
            "En attente",
            "Accepté",
            "Refusé",
            "Succès",
            "Échec",
            "En attente",
            "Hors service"
        ],
        'ar' :  [
            "تم التسجيل",
            "قيد الانتظار",
            "قبول",
            "رفض",
            "نجاح",
            "فشل",
            "انتظار",
            "خارج الخدمة"
        ]
    }
    function pad(n,z) {
        z = z || '0';
        n = n + '';
        return n.length >= 2 ? n : new Array(2 - n.length + 1).join(z) + n;
    }
    %>
</head>
<body>
    <%- include ('../partials/navbar') %>
    <div class="col-lg-6 px-3 py-3 m-auto text-center d-flex justify-content-center row">
        <% if(ldd.length) { %>
        <h3 class="mb-3 todays_deliveries_text"></h3>
        <% ldd.forEach(delivery => { %>
            <div class="jumbotron">
                <div class="text-left container">
                    <div class="row">
                        <div class="col-sm">
                            <p class="delivery-info-text"><span class="thing_text"></span> <b><%= delivery.thing %></b></p>
                        </div>
                        <div class="col-sm">
                            <p class="delivery-info-text"><span class="price_text"></span> <b><%= delivery.price %></b> DZD</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="delivery-info-text"><span class="status_text"></span> <span class="ml-2 badge badge-<%= classes[delivery.status] %>"><%= texts[lang][delivery.status] %></span></p>
                        </div>
                        <div class="col-sm">
                            <p class="delivery-info-text"><span class="date_sbmtd_text"></span> <b><%= `${pad(date.getDate())}-${pad(date.getMonth()+1)}-${date.getFullYear()}` %> <span class="at_time_text"></span> <% `${pad(date.getHours())}:${pad(date.getMinutes())}` %></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="delivery-info-text"><span class="from_text"></span> <b><%= delivery.from %></b></p>
                        </div>
                        <div class="col-sm">
                            <p class="delivery-info-text"><span class="to_text"></span> <b><%= delivery.to %></b></p>
                        </div>
                    </div>
                </div>
                <a class="btn btn-block btn-info mx-2 details_text" href="/ldd/<%= delivery._id %>"></a>
            </div>
        <% }); %>
        <% } else { %>
        <h4>No long distance deliveries</h4>
        <% }%>
    </div>
<%- include ('../partials/footer') %>
</body>
<%- include ('../partials/scripts') %>

</html>